<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:p="http://www.springframework.org/schema/p"
xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">


<bean name="Emp" class="com.ShaswotDhungana.InjectingCollectionTypes.Employee">

<property name="empName" value="Shaswot Dhungana" />

<property name="empNumbers">
<list>    <!-- Duplicate Data is Allowded in list -->
<value>980000000</value>
<value>981111111</value>
<value>982222222</value>
</list>
</property>

<property name="empAddresses">
<set>     <!-- Duplicate Data is Not Allowded in list -->
<value>Biratnagar</value>
<value>Bhaktapur</value>
<value>Baneshowr</value>
</set>
</property>

<property name="empBackground">
<map>
<entry key="Knowledge-1 " value=" Java " />
<entry key="Knowledge-2 " value=" Kotlin " />
<entry key="Knowledge-3 " value=" C , C++ " />
</map>
</property>


<property name="empGirlFriends">

<props>
<prop key=" GF-1"> Dani Daniels </prop>
<prop key=" GF-2"> Blake Bloosom </prop>
<prop key=" GF-3"> Maria Nagai </prop>
</props>

</property>

</bean>




</beans>
